/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroTitleTextHtml b {
  color: var(--ifm-color-primary);
}

.heroLogo {
  max-width: 100%;
}